<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BABY Records</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity: 0.9;">
        <img src="~/Content/img/Interface/Logo_BR.png" class="navbar-brand" width="38">
        <a class="navbar-brand" href="@Url.Action("Index","Principal")" style="font-style:italic; font-weight:bold">BABY RECORDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Principal")">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Artists")">Artistas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Songs")">Canciones</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Albums")">Albumes</a>
                </li>
            </ul>
            <span class="navbar-text">
                @Html.Partial("_LoginPartial")
            </span>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer class="bg-dark" style="opacity: 0.9;">
            <p>&copy; @DateTime.Now.Year - BABY Records</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
